/* Navbar */
.nav {
  border-style: none none solid none;
  border-width: 1px;
  border-color: white;
  padding-right: 2vw;
  padding-left: 2vw;
}

/* Sections */
.section-container {
  box-sizing: border-box;
}

.section.content {
  padding-right: 20vw;
  padding-left: 20vw;
}

.section.content.pad {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section > h1 {
  text-align: center;
  font-family: "Avenir Next", Sans-Serif;
}

.section.cream {
  background-color: #DBC17F;
  color: #825B5A;
}

.section.gray {
  background-color: #5D5A68;
  color: #DBC17F;
}

.section.red {
  background-color: #825B5A;
  color: #DBC17F;
}


/* Clouds */
.cloud-container {
  position: relative;
}

.cloud-container.top {
  top: -15vh;
}

.cloud-container.bottom {
  bottom: -15vh;
}

.cloud {
}

.cloud.red {
  fill: #825B5A;
}

.cloud.cream {
  fill: #DBC17F;
}

.cloud.gray {
  fill: #5D5A68;
}


svg {
  width: 100%;
}

svg.flip {
  transform: rotateY(180deg);
}

svg.bottom.flip {
  transform: rotateX(180deg) rotateY(180deg);
}

svg.bottom {
  transform: rotateX(180deg);
}




